# Data Wrangling

## Overview

* Collecting data
* Cleaning data
* Transforming data
* Using transformed data to get new information

### 1. Read dataset  and examine dataframe for duplicates (ID)

Importing pandas and statistics modules

In [1]:
import pandas as pd
import statistics

Reading personality and scores datasets into dataframes.

In [2]:
departments = pd.read_csv('departments.csv', delimiter=';')
scores = pd.read_csv('personality_scores.csv', delimiter=';')

Checking for deuplicates, keeping the first value and removing the second duplicate value and more if there any. Also removing all columns that only contain null values.

In [3]:
new_department = departments.drop_duplicates(subset='ID', keep='first').dropna(axis=1)
new_department.head()

   ID Department
0   0       Data
1   1       Data
2   2       Data
3   3       Data
4   4       Data

In [4]:
new_scores = scores.drop_duplicates(subset='ID', keep='first').dropna(axis=1)
new_scores.head()

,ID,Section 5 of 6 [I am always prepared.],Section 5 of 6 [I am easily disturbed.],Section 5 of 6 [I am exacting (demanding) in my work.],Section 5 of 6 [I am full of ideas.],Section 5 of 6 [I am interested in people.],Section 5 of 6 [I am not interested in abstract ideas.],Section 5 of 6 [I am not interested in other people's problems.],Section 5 of 6 [I am not really interested in others.],Section 5 of 6 [I am quick to understand things.],...,Section 5 of 6 [I often forget to put things back in their proper place],Section 5 of 6 [I pay attention to details.],Section 5 of 6 [I seldom feel blue (down).],Section 5 of 6 [I spend time reflecting on things.],Section 5 of 6 [I start conversations.],Section 5 of 6 [I sympathize with others' feelings.],Section 5 of 6 [I take time out for others.],Section 5 of 6 [I talk to a lot of different people at parties.],Section 5 of 6 [I use difficult words.],Section 5 of 6 [I worry about things.]
0,0,"(3, 5)","(4, 5)","(3, 5)","(5, 5)","(2, 3)","(5, 3)","(2, 3)","(2, 5)","(5, 5)",...,"(3, 5)","(3, 5)","(4, 3)","(5, 5)","(1, 3)","(2, 5)","(2, 5)","(1, 3)","(5, 1)","(4, 3)"
1,1,"(3, 5)","(4, 5)","(3, 5)","(5, 5)","(2, 5)","(5, 3)","(2, 5)","(2, 5)","(5, 5)",...,"(3, 5)","(3, 1)","(4, 1)","(5, 5)","(1, 5)","(2, 5)","(2, 5)","(1, 5)","(5, 3)","(4, 3)"
2,2,"(3, 5)","(4, 3)","(3, 3)","(5, 5)","(2, 5)","(5, 5)","(2, 5)","(2, 5)","(5, 5)",...,"(3, 5)","(3, 5)","(4, 1)","(5, 3)","(1, 3)","(2, 5)","(2, 5)","(1, 3)","(5, 1)","(4, 3)"
3,3,"(3, 5)","(4, 5)","(3, 3)","(5, 5)","(2, 5)","(5, 3)","(2, 3)","(2, 3)","(5, 3)",...,"(3, 1)","(3, 5)","(4, 1)","(5, 5)","(1, 5)","(2, 5)","(2, 5)","(1, 5)","(5, 1)","(4, 1)"
4,4,"(3, 3)","(4, 5)","(3, 3)","(5, 3)","(2, 3)","(5, 3)","(2, 3)","(2, 3)","(5, 5)",...,"(3, 5)","(3, 5)","(4, 5)","(5, 5)","(1, 3)","(2, 3)","(2, 5)","(1, 3)","(5, 1)","(4, 3)"

In [5]:
scores.shape

(1555, 70)

In [6]:
new_scores.shape

(1555, 51)

In [7]:
departments.shape

(1555, 21)

In [8]:
new_department.shape

(1555, 2)

Setting the ID column as the index for both dataframes.

In [9]:
new_scores = new_scores.set_index('ID')
new_department = new_department.set_index('ID')

In [10]:
new_scores.head()

,Section 5 of 6 [I am always prepared.],Section 5 of 6 [I am easily disturbed.],Section 5 of 6 [I am exacting (demanding) in my work.],Section 5 of 6 [I am full of ideas.],Section 5 of 6 [I am interested in people.],Section 5 of 6 [I am not interested in abstract ideas.],Section 5 of 6 [I am not interested in other people's problems.],Section 5 of 6 [I am not really interested in others.],Section 5 of 6 [I am quick to understand things.],Section 5 of 6 [I am quiet around strangers.],...,Section 5 of 6 [I often forget to put things back in their proper place],Section 5 of 6 [I pay attention to details.],Section 5 of 6 [I seldom feel blue (down).],Section 5 of 6 [I spend time reflecting on things.],Section 5 of 6 [I start conversations.],Section 5 of 6 [I sympathize with others' feelings.],Section 5 of 6 [I take time out for others.],Section 5 of 6 [I talk to a lot of different people at parties.],Section 5 of 6 [I use difficult words.],Section 5 of 6 [I worry about things.]
ID,,,,,,,,,,,,,,,,,,,,,
0,"(3, 5)","(4, 5)","(3, 5)","(5, 5)","(2, 3)","(5, 3)","(2, 3)","(2, 5)","(5, 5)","(1, 3)",...,"(3, 5)","(3, 5)","(4, 3)","(5, 5)","(1, 3)","(2, 5)","(2, 5)","(1, 3)","(5, 1)","(4, 3)"
1,"(3, 5)","(4, 5)","(3, 5)","(5, 5)","(2, 5)","(5, 3)","(2, 5)","(2, 5)","(5, 5)","(1, 3)",...,"(3, 5)","(3, 1)","(4, 1)","(5, 5)","(1, 5)","(2, 5)","(2, 5)","(1, 5)","(5, 3)","(4, 3)"
2,"(3, 5)","(4, 3)","(3, 3)","(5, 5)","(2, 5)","(5, 5)","(2, 5)","(2, 5)","(5, 5)","(1, 1)",...,"(3, 5)","(3, 5)","(4, 1)","(5, 3)","(1, 3)","(2, 5)","(2, 5)","(1, 3)","(5, 1)","(4, 3)"
3,"(3, 5)","(4, 5)","(3, 3)","(5, 5)","(2, 5)","(5, 3)","(2, 3)","(2, 3)","(5, 3)","(1, 3)",...,"(3, 1)","(3, 5)","(4, 1)","(5, 5)","(1, 5)","(2, 5)","(2, 5)","(1, 5)","(5, 1)","(4, 1)"
4,"(3, 3)","(4, 5)","(3, 3)","(5, 3)","(2, 3)","(5, 3)","(2, 3)","(2, 3)","(5, 5)","(1, 1)",...,"(3, 5)","(3, 5)","(4, 5)","(5, 5)","(1, 3)","(2, 3)","(2, 5)","(1, 3)","(5, 1)","(4, 3)"

In [11]:
new_scores.shape

(1555, 50)

In [12]:
new_department.head()

   Department
ID
0        Data
1        Data
2        Data
3        Data
4        Data

In [13]:
new_department.shape

(1555, 1)

In [24]:
type(eval(new_scores.loc[0][0]))

tuple

In [25]:
new_scores.loc[0][0]

'(3, 5)'

### 2. Write functions that will convert the answer on each personality test question and calculate the total scores for each of the subscales - apply unit testing.

In [28]:
# def sum_per_subscale(scores_per_person, subscale):
#     subscale_sum = sum([eval(scores_per_person[i])[1] for i in range(50) if eval(scores_per_person[i])[0] == subscale])
#     return(subscale_sum)

def sum_per_subscale(scores_per_person, subscale):
    subscale_sum = sum([eval(i)[1] for i in scores_per_person if eval(i)[0] == subscale])
    return(subscale_sum)
   
sum_per_subscale(new_scores.loc[0], 1)

SyntaxError: invalid syntax (<ipython-input-28-f51d5fba8c3a>, line 6)

In [31]:
def sum_per_subscale(scores_per_person, subscale):
    subscale_sum = [eval(i)[1] if eval(i)[0] == subscale else print('hi') for i in scores_per_person]
    return(subscale_sum)
    
sum_per_subscale(new_scores.loc[0], 1)

hi
hi
hi
hi
hi
hi
hi
hi
hi
hi
hi
hi
hi
hi
hi
hi
hi
hi
hi
hi
hi
hi
hi
hi
hi
hi
hi
hi
hi
hi
hi
hi
hi
hi
hi
hi
hi
hi
hi
hi

[None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 3,
 None,
 3,
 None,
 None,
 3,
 1,
 3,
 5,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 3,
 None,
 3,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 3,
 None,
 None,
 3,
 None,
 None]

In [19]:
subscale_df = pd.DataFrame()
subscale_df['1-Extraversion'] = new_scores.apply(lambda row: sum_per_subscale(row, 1), axis=1)
subscale_df['2-Agreeableness'] = new_scores.apply(lambda row: sum_per_subscale(row, 2), axis=1)
subscale_df['3-Conscientiousness'] = new_scores.apply(lambda row: sum_per_subscale(row, 3), axis=1)
subscale_df['4-EmotionalStability'] = new_scores.apply(lambda row: sum_per_subscale(row, 4), axis=1)
subscale_df['5-Intellect'] = new_scores.apply(lambda row: sum_per_subscale(row, 5), axis=1)

In [20]:
subscale_df.head()

,1-Extraversion,2-Agreeableness,3-Conscientiousness,4-EmotionalStability,5-Intellect
ID,,,,,
0,30,40,48,36,42
1,42,46,46,40,42
2,28,40,40,38,42
3,30,38,38,40,38
4,28,34,46,38,36

In [26]:
subscale_df['new'] = subscale_df['5-Intellect']*2
subscale_df.head()

,1-Extraversion,2-Agreeableness,3-Conscientiousness,4-EmotionalStability,5-Intellect,new
ID,,,,,,
0,30,40,48,36,42,84
1,42,46,46,40,42,84
2,28,40,40,38,42,84
3,30,38,38,40,38,76
4,28,34,46,38,36,72

In [27]:
subscale_df['new2'] = subscale_df.apply(lambda row: row['5-Intellect']*2, axis=1)
subscale_df.head()

,1-Extraversion,2-Agreeableness,3-Conscientiousness,4-EmotionalStability,5-Intellect,new,new2
ID,,,,,,,
0,30,40,48,36,42,84,84
1,42,46,46,40,42,84,84
2,28,40,40,38,42,84,84
3,30,38,38,40,38,76,76
4,28,34,46,38,36,72,72

In [1]:
# subscale_scores_inter = pd.DataFrame(subscale_scores.values, index = subscale_scores.index)
# sub = subscale_scores_inter.applymap(score_interpretation)
# sub.columns = ['Extraversion_Interpretation','Agreeableness_Interpretation','Conscientiousness_Interpretation', 'Neuroticism_Interpretation','Openness_Interpretation']
# sub.head()

In [3]:
#subscale_scores['Extraversion_Interpretation','Agreeableness_Interpretation','Conscientiousness_Interpretation', 'Neuroticism_Interpretation','Openness_Interpretation'] = eval(subscale_scores.apply(lambda row: subscale_scores.applymap(score_interpretation), axis=1))

In [ ]:
# class subscale:
#     def ():
    
# import pandas as pd 
  
# # reading csv 
# s = pd.read_csv("stock.csv", squeeze = True) 
  
# defining function to check price 
def fun(num): 
  
    if num<low: 
        return "Low"
  
    elif num>= low and num<high: 
        return "Medium"
  
    else: 
        return "High"
  
# passing function to apply and storing returned series in new 
columns = ['Extraversion_Interpretation','Agreeableness_Interpretation','Conscientiousness_Interpretation', 'Neuroticism_Interpretation','Openness_Interpretation']
#new[columns] = subscale_scores.apply(fun) 
new['Extraversion_Interpretation','Agreeableness_Interpretation','Conscientiousness_Interpretation', 'Neuroticism_Interpretation','Openness_Interpretation']  
# printing first 3 element 
print(new.head(3)) 
  
# # printing elements somewhere near the middle of series 
# print(new[1400], new[1500], new[1600]) 
  
# # printing last 3 elements 
# print(new.tail(3))

In [1]:
# def total_for_subscale(p_scores_per_person, subscale):
#     subscale_sum = sum([eval(p_scores_per_person[i])[1] for i in range(50) if eval(p_scores_per_person[i])[0] == subscale])
#     return(subscale_sum)

In [ ]:
low = subscale_scores.loc[ : , : ].mean() - subscale_scores.loc[ : , : ].std()/2
high = subscale_scores.loc[ : , : ].mean() + subscale_scores.loc[ : , : ].std()/2
def f(scores, subscale):
    if score < low: 
        return 'low' 

    elif score >= low and score < high: 
        return 'medium'
        
    else :
        return 'high'